[flake8]

# E501 line too long (83 > 79 characters)
# F821 undefined name '_'

exclude = .git
max-line-length = 88
per-file-ignores =
    ./r.geoserver.publish/r.geoserver.publish.py: E501, F821
    ./r.geoserver.style/r.geoserver.style.py: E501, F821
    ./r.geoserver.style/testsuite/test_r_geoserver_style.py: E501
    ./t.geoserver.publish/t.geoserver.publish.py: E501, F821
