name: Run tests for GRASS GIS addons
on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      # with:
      #   path: "."
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Test of GRASS GIS addon
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: false
        tags: addon-tests:alpine
        context: .
        file: .github/workflows/Dockerfile
        no-cache: true
        # pull: true
